/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
    .nav-header {
        position: relative;
        display: block;
    }

    .logo {
        position: relative;
        padding-left: 7%;
    }

    /* Small devices in SideBar */
    .bars {
        display: block;
    }

    .logo-bars {
        position: fixed;
        display: block;
        margin-right: 15em;
    }


    /* Small devices in Service */
    .service {
        position: relative;
        left: 1%;
        width: 100%;
        height: 100%;
    }

    .list-sewa {
        margin-bottom: 20px;
    }

    /* Small devices in Why Us */
    .why-us-title {
        position: relative;
        text-align: center;
    }

    .why-us-text {
        position: relative;
        text-align: center;
    }

    .why img {
        max-width: 50%;
    }

    /* Small devices in Testimonial */

    .testimonial-title {
        position: relative;
        text-align: center;
    }

    .testimonial-text {
        position: relative;
        text-align: center;
    }

    .container-fluid .img-fluid {
        display: block;
        margin-right: 100px;
        display: inline-block;
        top: 20%;
        left: 20%;
        transform: translate(-20%, -20%);

    }

    .personal-testi img {
        padding-bottom: 20px;
        display: block;
        margin-left: 28px;
        margin-right: 30px;
        top: 40%;
        left: 40%;
        transform: translate(-40%, -40%);

    }

    .container-fluid .row {
        position: relative;
        height: 100%;
        width: 85%;
        margin-left: 40px;
        padding-left: 20px;
    }

    .personal-testi p {
        margin-left: 28px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .nav-header {
        position: relative;
        display: block;
    }

    .logo {
        position: relative;
        padding-left: 7%;
    }

    /* Medium devices in SideBar */
    .bars {
        display: block;
    }

    .logo-bars {
        position: fixed;
        display: block;
        margin-right: 25em;
    }

    /* Medium devices in Service */
    .service {
        position: relative;
        left: 1%;
        width: 100%;
        height: 100%;
    }

    .list-sewa {
        margin-bottom: 20px;
    }

    /* Medium devices in Why Us */
    .why-us-title {
        position: relative;
        text-align: center;
    }

    .why-us-text {
        position: relative;
        text-align: center;
    }

    .why img {
        width: 10%;
    }

    /* Medium devices in Testimonial */

    .testimonial-title {
        position: relative;
        text-align: center;
    }

    .testimonial-text {
        position: relative;
        text-align: center;
    }

    .container-fluid .testi-photo {
        max-width: 70%;
        margin-left: 130px;
        padding-right: 20%;
    }

    .container-fluid .row {
        position: relative;
        height: 100%;
        width: 85%;
        margin-left: 40px;
        padding-left: 20px;
    }

    .personal-testi img {
        margin-left: 165px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .personal-testi p {
        margin-left: 80px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* Medium devices in FAQ */

    .faq-title {
        position: relative;
        text-align: center;
    }

    .faq-text {
        position: relative;
        text-align: center;
    }

}